<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="assets/css/styles.css" />
        <title>Clínica Veterinária</title>
    </head>
    <body>
        <header>
            <div class="px-3 py-2 text-bg-dark border-bottom">
                <div class="container">
                    <div
                        class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
                    >
                        <a
                            href="/"
                            class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none"
                        >
                            <svg
                                class="bi me-2"
                                width="40"
                                height="32"
                                role="img"
                                aria-label="Bootstrap"
                            >
                                <use xlink:href="#bootstrap"></use>
                            </svg>
                        </a>
                        <ul
                            class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small"
                        >
                            <li>
                                <a
                                    href="pages/home.html"
                                    class="nav-link text-secondary"
                                >
                                    <svg
                                        class="bi d-block mx-auto mb-1"
                                        width="24"
                                        height="24"
                                    >
                                        <use xlink:href="#home"></use>
                                    </svg>
                                    Início
                                </a>
                            </li>
                            <li>
                                <a
                                    href="pages/login.html"
                                    class="nav-link text-white"
                                >
                                    <svg
                                        class="bi d-block mx-auto mb-1"
                                        width="24"
                                        height="24"
                                    >
                                        <use xlink:href="#speedometer2"></use>
                                    </svg>
                                    Login
                                </a>
                            </li>
                            <li>
                                <a
                                    href="pages/dashboard.html"
                                    class="nav-link text-white"
                                >
                                    <svg
                                        class="bi d-block mx-auto mb-1"
                                        width="24"
                                        height="24"
                                    >
                                        <use xlink:href="#table"></use>
                                    </svg>
                                    Dashboard
                                </a>
                            </li>
                            <li>
                                <a
                                    href="pages/consultas.html"
                                    class="nav-link text-white"
                                >
                                    <svg
                                        class="bi d-block mx-auto mb-1"
                                        width="24"
                                        height="24"
                                    >
                                        <use xlink:href="#grid"></use>
                                    </svg>
                                    Consultas
                                </a>
                            </li>
                            <li>
                                <a
                                    href="pages/pets.html"
                                    class="nav-link text-white"
                                >
                                    <svg
                                        class="bi d-block mx-auto mb-1"
                                        width="24"
                                        height="24"
                                    >
                                        <use xlink:href="#people-circle"></use>
                                    </svg>
                                    Pets
                                </a>
                            </li>
                            <li>
                                <a
                                    href="pages/users.html"
                                    class="nav-link text-white"
                                >
                                    <svg
                                        class="bi d-block mx-auto mb-1"
                                        width="24"
                                        height="24"
                                    >
                                        <use xlink:href="#people-circle"></use>
                                    </svg>
                                    Usuários
                                </a>
                            </li>
                            <li>
                                <div
                                    class="dropdown"
                                    style="margin-top: 1.8rem"
                                >
                                    <a
                                        href="#"
                                        class="d-block link-body-emphasis text-decoration-none dropdown-toggle show"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="true"
                                    >
                                        <img
                                            src="https://github.com/mdo.png"
                                            alt="mdo"
                                            width="32"
                                            height="32"
                                            class="rounded-circle"
                                        />
                                    </a>
                                    <ul
                                        class="dropdown-menu text-small shadow show"
                                        style="
                                            position: absolute;
                                            inset: 0px 0px auto auto;
                                            margin: 0px;
                                            transform: translate3d(
                                                -0.909091px,
                                                33.6364px,
                                                0px
                                            );
                                        "
                                        data-popper-placement="bottom-end"
                                    >
                                        <li>
                                            <a class="dropdown-item" href="#"
                                                >Settings</a
                                            >
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#"
                                                >Profile</a
                                            >
                                        </li>
                                        <li><hr class="dropdown-divider" /></li>
                                        <li>
                                            <a class="dropdown-item" href="#"
                                                >Cadastrar</a
                                            >
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#"
                                                >Login</a
                                            >
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#"
                                                >Deslogar</a
                                            >
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/navbar.js"></script>
    </body>
</html>
